@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Canela Web';
  src: url('./fonts/CanelaWeb-Thin.woff2') format('woff2'),
      url('./fonts/CanelaWeb-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: url('./fonts/CanelaWeb-Regular.woff2') format('woff2'),
      url('./fonts/CanelaWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orpheus';
  src: url('./fonts/orpheuspro-light-webfont.woff2') format('woff2'),
       url('./fonts/orpheuspro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orpheus bold';
  src: url('./fonts/orpheuspro-bold-webfont.woff2') format('woff2'),
       url('./fonts/orpheuspro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #ffedcd;
  --color-background: black;
  --color-secondary: #ffedcd;
  --color-link: #fff;
  --text-tiny: 1vw;
  --text-small: 1.2vw;
  --text-medium: 1.7vw;
  --text-large: 2.8vw;
  --space: 50px;
}
@media(max-width: 900px){
  :root{
    --text-tiny: 2vh;
    --text-small: 2vh;
    --text-medium: 2.7vh;
    --text-large: 2.8vh;
    --space: 25px;
  }
}

body {
  color: var(--color-primary);
  background: var(--color-background);
  scrollbar-color: var(--color-background) var(--color-background); 
  scrollbar-width: thin;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


#bg{
  position: fixed;
  background-image: url("assets/garden_bg.png");
  background-size: 100%;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
@media(max-width: 900px){
  #bg{
    background-size: 200%;
  }
}
/*----TYPOGRAPHY----*/

h1,h2,h3,h4{
  font-weight: normal;
}
.tiny-text{
  font-size:var(--text-tiny);
  font-family: 'orpheus';
  font-weight: bold;
  text-shadow: 0px 2px #000;
  /* letter-spacing: 0.5px; */
  letter-spacing: 0px;
}

.small-text{
  font-size:var(--text-small);
  font-family: 'orpheus';
  font-weight: bold;
  text-shadow: 0px 2px #000;
  letter-spacing: 0px;
}
.medium-text{
  font-family: 'orpheus';
  font-weight: bold;
  font-size: var(--text-medium);
  text-shadow: 0px 2px #000;
  line-height: 1.2;
  letter-spacing: 0px;
}
a.medium-text, a.small-text {
  border-bottom: 1px dotted var(--color-secondary);
  color: var(--color-primary);
}

a.medium-text:hover {
  border-bottom: 1px dotted var(--color-primary);
}

.medium-text-link{
  font-family: 'Canela Web';
  font-weight: bold;
  font-size: var(--text-medium);
  text-shadow: 0px 2px (var(--color-background));
  line-height: 1.2;
  /* letter-spacing: 0.5px; */
  letter-spacing: 0px;
  color: var(--color-link);
}

.medium-text-link:hover
/* , #about-garden:hover  */
{
  color:var(--color-secondary);
}
.hidden{
  visibility: hidden;
}
.large-text{
  font-size: var(--text-large);
  font-family: 'Canela Web';
  font-weight: bold;
  text-shadow: 0px 2px #000;
}
/**end typography**/

nav a, a:visited{
	color:var(--color-link);
	text-decoration: none;
	border-bottom: 1px dotted var(--color-secondary);
}

nav a, a:hover, #download-flower a:hover{
	color: var(--color-secondary);
	border-bottom: 1px dotted var(--color-primary);
}

a {
	text-decoration: none;
  color: var(--color-link);
  word-wrap: break-word;
}


/* SCROLLBARS */
body::-webkit-scrollbar {
  background-color: var(--color-background);
  height: 0px;
  width: 0px;
}

body::-webkit-scrollbar-track {
   background-color: var(--color-background);
   height: 0px;
   width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-background);
  height: 0px;
  width: 0px;
}

body::-webkit-scrollbar-track-piece  {
    background-color: var(--color-background);
    height: 0px;
    width: 0px;
}

body::-webkit-scrollbar-thumb:vertical {
    height: 0px;
    background-color: var(--color-background);
}
main{
  margin: var(--space);
}
/* intro page */
.intro-text, .about-info{
  display: block;
  margin: 0 auto;
  max-width: 570px;
  text-align: center;
}
.intro-text p{
  margin-bottom: var(--space);
}

#flower-nav{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top:var(--space)
}

.about-link{
  position:fixed;
  bottom:0;
  left:0;
  padding:calc(var(--space)/4);
}
.right-link{
  position:fixed;
  bottom:0;
  right:0;
  padding:calc(var(--space)/4);
}
.right-link a{
  border-bottom: 1px dotted var(--color-secondary);
}
/* GARDEN */
.garden-plot{
   display:flex;
   width: 100vw;
   flex-wrap:wrap;
   gap: 10px;
   margin-bottom: var(--space);
}

.plant{
  flex-basis: 15%;
  text-align: center;
}

/* MOBILE STYLING */

@media(max-width: 900px){
  .plant{
    flex-basis: 45%;
    text-align: center;
  }

}
.plant:nth-child(even){
  position:relative;
  bottom: var(--space);
}
.plant-modal{
  overflow: scroll;
  display: flex;
  position: fixed;
  z-index: 8;
  top:0;
  left:0;
  padding: var(--space);
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  animation: fadeIn 1s forwards;
}
.plant-modal .inner{
  padding: var(--space);
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  justify-content: center;
  max-width: 550px;
}
.plant-modal .inner img{
  max-width: 300px;
}
.plant-modal .inner img:first-child{
  margin-top:calc(-1 * var(--space)*2);
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* SUBMISSION*/
input, textarea{
  background-color: var(--color-background);
  border: 1px solid var(--color-secondary);
  padding: 10px;
  margin: 10px;
}
#submit-button{

  margin-bottom: var(--space);
}
.react-p5-wrapper{
  margin-top:calc(-1 * var(--space) * 2);

}
textarea{
  display: block;
  margin: 15px auto;
  width: 100%;
  height: 200px;
}
.cloudinary:hover{
  color: var(--color-link);
}
#uploaded-true{
   display:none;
   opacity: 0;
   transition:1s;
}
#uploaded-true.open{
  opacity: 1;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: center;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  padding: var(--space);
}
#uploaded-true .inner{
  text-align: center;
}
@media(max-width: 900px){
.react-p5-wrapper{
  max-width: calc(100vw - var(--space) * 2);
  overflow: hidden;
  display:flex;
  /* align-items: center; */
  justify-content: center;
}
}